.button2:hover {
  background-color: brown;
}

.button2 {
  padding: 0.5em 5.0em;
  transition: all 0.2s;
  border-radius: 3px;
  width: 240px;
  color: white;
  background-color: #5a5a5a;
}

/* #5a5a5a ligher */

.cart-container {
  /* display: flex;
  flex-direction: row; */
  min-height: 100vh;
  height: 100vh;
  margin-top: 1.3rem;
  padding: 0.3em 3.2em;
}

#cart-title {
  text-align: center;
}

.more-coffee-text {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 30px;
  font-size: 13px;
}

.cart-summary-text {
  font-size: large;
  font-weight: 700;
  color: black;
}

.cart-container-items {
  font-family: 'Ubuntu', sans-serif;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 2rem;
  color: #343434;
}

.cart-container-guest {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin: auto; */
  margin-top: 20px;
  margin-bottom: 2rem;
  color: #343434;
}

.cart-labels {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  /* border: 2px solid red; */
  align-items: center;
}

.cart-labels-2 {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 65%;
}

#shopping-cart {
  font-weight:500;
  font-size: 15px;
  margin-top: 20px;
}

#cart-deets {
  font-size: 15px;
  margin-top: 20px;
  margin-left: 30px;
}


#product-name {
  justify-content: center;
  font-size: 11px;
  margin: auto;
  margin-left: 5px;
  margin-top: 2rem;
  flex: 0.5;
  font-size: x-small;
  text-decoration: none !important;
}

.cart-picture-name {
  /* border: 2px solid black; */
  margin-left: 25px;
}



.cart-price {
 font-size: 15px;
 margin-top: 3.2rem;
}

.cart-item {
  display: flex;

  /* border: 2px solid pink; */
  margin-top: 2rem;
  margin: auto;
  /* align-items: center; */
  justify-content: space-between;
  width: 50%;
  /* flex-wrap: wrap;
  text-align: center;
  align-items: center;
  align-content: center;
  margin: 30px; */
}

.cart-item-guest {
  display: flex;

  /* border: 2px solid pink; */
  margin-top: 2rem;
  margin: auto;
  /* align-items: center; */
  justify-content: space-between;
  width: 50%;
  /* flex-wrap: wrap;
  text-align: center;
  align-items: center;
  align-content: center;
  margin: 30px; */
}




.cart-qty {
  margin: auto;
  margin-left: 2rem;
  font-size: small;
  margin-top: 3.2rem;
  max-width: 80%;
}

.cart-empty-container {
  font-size:x-large;
  font-weight: 900;
}

.cart-totals{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  padding: 1.5em;
  margin-top: 5px;
  margin-left: 10px;
  color: #343434;
}

.product-image {
  height: 10vh;
  width: 9vh;
}

.checkout-button {
  background-color:   #8B2500;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  border-color: whitesmoke;
  padding: 10px 15px;
  border-radius: 10px;
}

.checkout-button:hover {
  background-color: #EE2C2C;
}

.cart-quantity-totals {
  color: #CD2626;
  font-weight: bold;
}


.delete-item {
  border: none;
  background-color: transparent;
  height: 20px;
}

.delete-item:hover {
  color: #CD2626;
}

.delete-guest-item {
  background-color: #DB2929;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 11px;
  border-color: whitesmoke;
  padding: 5px 10px;
  border-radius: 10px;
}

.delete-guest-item:hover {
  background-color: #EE2C2C !important;
}
