.button2:hover {
  background-color: brown;
}

.button2 {
  padding: 0.5em 5.0em;
  transition: all 0.2s;
  border-radius: 3px;
  width: 240px;
  color: white;
  background-color: #5a5a5a;
}

/* #5a5a5a ligher */

.cart-container {
  min-height: 100vh;
  height: 100vh;
  margin-top: 1.3rem;
  padding: 0.3em 3.2em;
}

#cart-title {
  text-align: center;
}

.cart-container-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1.3rem;
  margin-bottom: 2rem;
}

.cart-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  gap: 50px;
}

.cart-totals{
  text-align: center;
  padding: 1.5em;
}
