.button2:hover {
  background-color: brown;
}

.button2 {
  padding: 0.5em 5.0em;
  transition: all 0.2s;
  border-radius: 3px;
  width: 240px;
  color: white;
  background-color: #5a5a5a;
}

/* #5a5a5a ligher */

.cart-container {
  /* display: flex;
  flex-direction: row; */
  min-height: 100vh;
  height: 100vh;
  margin-top: 1.3rem;
  padding: 0.3em 3.2em;
}

#cart-title {
  text-align: center;
}

.more-coffee-text {
  font-family: 'Ubuntu', sans-serif;
}

.cart-summary-text {
  font-size: large;
  font-weight: 700;
  color: black;
}

.cart-container-items {
  font-family: 'Ubuntu', sans-serif;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  margin-bottom: 2rem;
  color: #343434;
}

.cart-item {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  text-align: center;
  align-items: center;
  align-content: center;
  margin: 30px;
}

.cart-empty-container {
  font-size:x-large;
  font-weight: 900;
}

.cart-totals{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  padding: 1.5em;
  margin-top: 5px;
  margin-left: 10px;
  color: #343434;
}

.product-image {
  height: 10vh;
  width: 10vh;
}

.checkout-button {
  background-color: 	#8B2500;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  border-color: whitesmoke;
  padding: 10px 15px;
  border-radius: 10px;
}

.checkout-button:hover {
  background-color: #EE2C2C;
}

.cart-quantity-totals {
  color: #CD2626;
  font-weight: bold;
}


.delete-item {
  border: none;
  background-color: transparent;
  height: 20px;
}

.delete-item:hover {
  color: #CD2626;
}

.delete-guest-item {
  background-color: #DB2929;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  border-color: whitesmoke;
  padding: 5px 10px;
  border-radius: 10px;
}

.delete-guest-item:hover {
  background-color: #EE2C2C;
}
