

.auth-form {
  display: flex;
  justify-content: center;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  height: 100%;
  align-items: center;
}

.sign-in-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  box-shadow: 0px 6px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 30px;
}



.sign-in-title {
  color: #5a5a5a;
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

.input-container {
  width: 220px;
  margin-left: 40px;
  margin-top: 24px;
}

.no-password-message {
  margin-top: 10px;
  font-size: small;
  color:#CD2626;
}

.no-account-message {
  font-size: small;
  margin: 24px 0;
}

.input-field {
  border: none;
  background-color: rgb(231, 230, 230);
  border-radius: 3px;
}

.username-form{
  /* padding: 0.3em; */
}
/*
label{
  padding: 3.2em;
} */

.button3:hover {
  background-color: #EE2C2C;
}

.button3 {
  background-color: #CD2626;
  padding: 0.5em 3.3em;
  transition: all 0.2s;
  color: white;
  border-radius: 5px;
  border-color: white;
  margin: 0 auto;
}

.button3-wrapper {
  display: flex;
  justify-content: center;
  font-size: 10px;
}

small{
  padding: 0.3em;
}

