.container {
  height: 70vh;
}

#landing-text {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  color: #3C2F2F;
  text-transform: lowercase;
  font-size: 45px;
  /* font-weight:600; */
  position: absolute;
  top: 55%;
  left: 32%;
  transform: translate(-50%, -50%);
  /* text-shadow: 7px 7px rgb(248, 246, 246); */
}

#coffee-span {
  color: #CD2626;
  font-weight: 500;
}

.shop-now-button {
  background-color: #DB2929;
  color: white;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 18px;
  border-color: whitesmoke;
  padding: 12px 32px;
  border-radius: 10px;
  position: absolute;
  top:75%;
  left: 18%;
  transform: translate(-50%, -50%);
  box-shadow: 4px 5px 10px 0 rgba(0, 0, 0, 0.2)
}

.shop-now-button:hover {
  background-color: #EE2C2C;
}

.member-login {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  color: whitesmoke;
  border-color: whitesmoke;
  background-color: 	#8B2500;
  padding: 12px 32px;
  border-radius: 10px;
  position: absolute;
  top:75%;
  left: 37%;
  transform: translate(-50%, -50%);
  box-shadow: 4px 5px 10px 0 rgba(0, 0, 0, 0.2)
}

.member-login:hover {
  background-color: #B3432B;
}


.home-image {
  height: 100vh;
  width: 100%;
  padding: 0;
  display: block;
}

.user-welcome-text {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  text-align: center;
  color: black;
  padding: 5px;
  font-weight: 300;
  position: absolute;
  top: 25%;
  left: 53%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  text-shadow: 0.5px 0.5px  lightgray;
}

.user-coffee-img {
  width: 100%;
  height: 100%;
}




/* <div class="bg-pos-center bg-size-cover h-bg-450 h-bg-550-ns h-bg-680-xl h-bg-830-xxl tc h-bg-200" style="background-image: url(https://blue-bottle-cms.global.ssl.fastly.net/hbhhv9rz9/image/upload/v1632873419/guqrxpyvr0lscp4jdlor.jpg)"><div class="dn dt-ns wi-100 mw-container u-center h-100 ph20 ph0-l" style="text-align: left; color: #555555"><div class="dtc v-mid"><div class="uppercase f6 bold ls-1-5">Coffee from Around the World, with Shipping on Us</div><h1 class="lh-title f3 f1-ns mw6 dib mb0">Celebrating International Coffee Day</h1><div class="mt15 mt20-ns"><a class="primary-btn btn-15-30 dib" href="https://bluebottlecoffee.com/store/coffee">Shop Now </a></div></div></div></div> */
