/* #landing-text {
  display: absolute;
  top: 500px;
  font-size: 100px;
  text-align: center;
  text-shadow: 5px 5px rgb(241, 239, 239);
}

.home-image {
  height: auto;
  width: 100%
} */


#landing-text {
  font-family: 'Ubuntu', sans-serif;
  color: #3C2F2F;
  text-transform: lowercase;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 55%;
  left: 32%;
  transform: translate(-50%, -50%);
  /* text-shadow: 7px 7px rgb(248, 246, 246); */
}

#coffee-span {
  color: #CD2626;
}

.shop-now-button {
  background-color: #DB2929;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  border-color: whitesmoke;
  padding: 10px 30px;
  border-radius: 10px;
  position: absolute;
  top:75%;
  left: 18%;
  transform: translate(-50%, -50%);
}

.member-login {
  font-family: 'Ubuntu', sans-serif;
  color: whitesmoke;
  border-color: whitesmoke;
  background-color: 	#8B2500;
  padding: 10px 30px;
  border-radius: 10px;
  position: absolute;
  top:75%;
  left: 37%;
  transform: translate(-50%, -50%);
}

.home-image {
  height: 100vh;
  width: 100%;
  padding: 0;
  display: block;
}

.user-welcome {
  text-align: center;
}





/* <div class="bg-pos-center bg-size-cover h-bg-450 h-bg-550-ns h-bg-680-xl h-bg-830-xxl tc h-bg-200" style="background-image: url(https://blue-bottle-cms.global.ssl.fastly.net/hbhhv9rz9/image/upload/v1632873419/guqrxpyvr0lscp4jdlor.jpg)"><div class="dn dt-ns wi-100 mw-container u-center h-100 ph20 ph0-l" style="text-align: left; color: #555555"><div class="dtc v-mid"><div class="uppercase f6 bold ls-1-5">Coffee from Around the World, with Shipping on Us</div><h1 class="lh-title f3 f1-ns mw6 dib mb0">Celebrating International Coffee Day</h1><div class="mt15 mt20-ns"><a class="primary-btn btn-15-30 dib" href="https://bluebottlecoffee.com/store/coffee">Shop Now </a></div></div></div></div> */
