/*
#343434 dark
#5a5a5a ligher
#a6a6a6 lightest
*/

/*
  - proper color pallete
  - choose a type of white
  - choose many greys (https://www.colorhexa.com/808080)
  - choose a accent color (coffee/amber/brown) - submit button or confirmation pages
  - apply hover on selectable items
*/


.navbar-wrapper {
  display: flex;
  box-shadow: 5px 1px 1px lightgrey;
  justify-content: center;
  align-items: center;
  padding: 0 64px;
  /* width: 100%; */
  /* border: 2px solid red; */
}

#nav-container {
  position: relative;
  display: flex;
  max-width: 1024px;
  margin: 40px;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.badge-circle {
  position: 'absolute';
  width: 38;
  height: 38;
  border-radius: 20;
  margin-left: 72;
  background-color: #CD2626;
  display: flex;
  align-items: center;
  justify-content: center;
}


.nav-links > * {
font-size: large;
font-weight: 300;
 margin-right: 1rem;
 margin-left: 1rem;
 font-family: 'Ubuntu', sans-serif;
}

.cart-badge {
  text-decoration: none !important;
}

.cart-title {
  margin-right: 7px;
}

.cart-title:hover {
 color: #CD2626;
}

.nav-brand {
  font-size: large;
  font-weight:500;
  font-family: 'Ubuntu', sans-serif;
}

.nav-brand:hover {
  color: #CD2626;
}

.navigation {
  color: #5a5a5a;
  text-decoration: none;
}

.navigation:hover {
  color: #CD2626;
}

hr {
  margin-bottom: 0 !important;
}

.nav-brand a {
  text-decoration: none;
}
