#nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav-links > * {
 margin-right: 1rem;
 margin-left: 1rem;
}

hr {
  margin-bottom: 0 !important;
}

.nav-brand a {
  text-decoration: none;
}
