.orders-container {
  display: flex;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  justify-content: center;
  color: black;
  margin-top: 20px;
  /* margin: 3px; */
}

.order-details {
  margin: 8px;
  padding: 2px 20px;
  /* transition: all 0.2s; */
  background-color: #DB2929;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 9px;
  border: none;
  border-radius: 10px;
}

.order-details:hover {
  background-color: #EE2C2C;
}
