.all-coffee-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  font-family: 'Ubuntu', sans-serif;
}

#all-coffee-title {
  text-align: center;
}

.coffee-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  /* box-shadow: 3px 3px 10px rgb(205, 205, 205); */
  margin: 1rem;
  /* border-radius: 5px; */
  /* background-color:white; */
  text-decoration: none;
  transition: all 0.5s;
}


.product-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.all-products-page {
  margin-top: 25px;
}

.coffee-item:hover {
  transform: scale(1.15);
  color:crimson;
}

.product-detail {
  text-align: center;
}

.product-detail p {
  font-weight: bold;
  font-size: medium;
}

.product-detail span {
  margin-bottom: 1rem;
}
.product-link {
  text-decoration: none;
}
/* justify content and space between for nav bar container */
