
#single-coffee-title{
  text-align: center;

}

#singe-coffee-img {
  float: left;
  width: 400px;
  height: 400px;
  margin-bottom: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.single-coffee-container {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.3rem;
  margin-bottom: 2rem;
}

.button1:hover {
  background-color: #dff9b5;
}

.button1 {
  padding: 0.3em 3.2em;
  transition: all 0.2s;
}

.go-back{
  padding: 0.3em 3.2em;
}

p{
  padding: 0.3em 3.2em;
}
