#single-coffee-title{
  text-align: center;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  /* border: 2px solid red; */
}

.single-coffee-top {
  align-items: center;
  margin-top: 30px;
  font-family: 'Ubuntu', sans-serif;
  /* border: 2px solid blue; */
  width:70%;
  margin: auto;
}

#singe-coffee-img {
  float: left;
  width: 250px;
  height: 250px;
  margin-bottom: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
  /* border: 2px solid green; */
  margin-top: 25px;
}

.product-price {
  margin-top: 30px;
  font-weight: bold;
  color:#343434;
  /* border: 2px solid brown; */
}

.single-coffee-container {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.3rem;
  margin-bottom: 2rem;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

.product-details {
  margin-top: 20px;
  font-family: 'Rubik', sans-serif;
}

.select-quantity {
  margin-left: 10px;
}

.button1 {
  padding: 0.3em 2.0em;
  transition: all 0.2s;
  background-color: #DB2929;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  border-color: whitesmoke;
  border-radius: 10px;
}

.button1:hover {
  background-color: #EE2C2C;
}

.go-back{
  margin-top: 5px;
  padding: 0.3em 3.2em;
}

.go-back-image {
  height: 40px;
  width: 40px;
  margin-left: 5px;
  margin-top: 5px;
}

p{
  padding: 0.3em 3.2em;
}
