@import url("bootswatch.css");
@import url("products.css");

@import url("singleproduct.css");
@import url("navbar.css");

@import url("login.css");
@import url("main.css");
@import url("checkout.css");
@import url("cart.css");
@import url("singleuser.css");
@import url("profile.css");
@import url("hamburgernav.css");
@import url("toast.css");
@import url("orderHistory.css");

img {
  width: 200px;
}
