@import url("bootswatch.css");
@import url("products.css");

@import url("singleproduct.css");
@import url("navbar.css");

@import url("login.css");
@import url("main.css");
@import url("cart.css");



img {
  width: 200px;
}
